<div class="row product-reviews">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <h3>Reviews</h3>
        </div>
        <div class="col-sm-6">
          <h3 class="text-right">Average Rating <%= @product.average_rating %></h3>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>User</th>
            <th>Rating</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @product.reviews.order(updated_at: :desc).each do |review| %>
            <%= render 'reviews/review', review: review %>
          <% end %>
        </tbody>
      </table>
    </div> <!-- panel body -->
    <div class="panel-footer">
      <%= render 'reviews/form' %>
    </div> <!-- panel footer -->
  </div> <!-- panel -->
</div> <!-- row -->